.title-generator {
    width: 100%;

    .custom-textarea {
        display: block;
        width: 100%;
        height: 180px;
        margin: 0 auto;
        box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, .75);
        border: 1px solid #212529;
        border-radius: 5px;
    }

    .custom-textarea:focus {
        outline: unset;
        box-shadow: 0 0 2pt 1pt red;
    }

    .titles-textarea {
        width: 60%;
        margin: 50px auto;
    }

    .generate-button {
        display: block;
        width: 60%;
        margin: 20px auto;
    }

    .ulrs-textarea {
        width: 60%;
        margin: 50px auto;
    }

    .language-mode {
        width: 30%;
        display: block;
        margin: 0 auto;

        p {
            text-align: center;
        }

        .btn-toolbar {
            justify-content: center;
        }
    }

    h1 {
        text-align: center;
        margin: 10px auto 10px auto;
    }

    hr {
        width: 80%;
        background-color: rgba(255, 0, 0, 0.63);
    }
}