.author-box {}

.figure-img {
    display: block !important;
    margin: 20px auto !important;

    #name-surname {
        text-align: center;
    }

    a {
        color: black;
        text-align: center !important;
    }

    .icons {
        display: block !important;
        margin: 0 auto !important;
        text-align: center;
    }

}